.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  background-color: #13ce66;
}

.header img {
  width: 20px;
}

.nav {
  grid-area: nav;
  background-color: #13ce66;
}

.content {
  grid-area: content;
}

.content img {
  height: 200px;
  width: 100%;
}